[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
pandas = "*"
jupyterlab-code-formatter = "*"
black = "*"
xlrd = "*"
jupyter-nbextensions-configurator = "*"
tabula-py = "*"

[packages]
pdfminer = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
